{# Copyright (C) 2017 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ "Joomla Instance"|_ }} - {{ instance.instance_id }}{% endblock %}

{% block headerText %} - {{ "Joomla Instance"|_ }}{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="btn-group pull-right">
        <a class="btn btn-danger" href="{{ uri.base.path }}instance/{{ instance.instance_id }}/delete">
            {{ "Discard"|_ }}
        </a>
    </div>

    <div class="page-header">
        <h1>
            Joomla! instance #{{ instance.instance_id }}
        </h1>

        <a class="btn btn-primary" href="http://{{ instance.instance_id }}.dbox-tests.ml" target="_blank">
            {{ "Go to instance"|_ }}
        </a>

        <a class="btn btn-primary" href="http://{{ instance.instance_id ~ '-' ~ instance.target_branch}}.dbox-tests.ml" target="_blank">
            {{ "Target branch instance"|_ }}
        </a>
    </div>

    <div class="page-header">
        <h3>Login credentials</h3>
    </div>

    <table class="table table-bordered table-hover">
        <tr>
            <th>{{ "Username"|_ }}</th>
            <th>{{ "Password"|_ }}</th>
        </tr>

        <tr>
            <td>
                admin
            </td>
            <td>
                admin
            </td>
        </tr>

        <tr>
            <td>
                manager
            </td>
            <td>
                manager
            </td>
        </tr>

        <tr>
            <td>
                user (site part only)
            </td>
            <td>
                user (site part only)
            </td>
        </tr>
    </table>

    <br/>

    <div class="page-header">
        <h3>Info</h3>
    </div>

    <table class="table table-bordered table-hover">
        <tr>
            <th>{{ "PHP version"|_ }}</th>
            <th>{{ "Pull Request"|_ }}</th>
            <th>{{ "Target Branch"|_ }}</th>
            <th>{{ "Instance lifetime left"|_ }}</th>
        </tr>

        <tr>
            <td>

                <a href="http://{{ instance.instance_id }}.dbox-tests.ml/statistics"
                   target="_blank" title="{{ 'View instance statistics info'|_ }}">
                    <span class="octicon octicon-info"></span>
                    {% if instance.php_version == '56' %}
                        5.6
                    {% elseif instance.php_version == '70' %}
                        7.0
                    {% else %}
                        7.1
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="https://github.com/{{ 'TestOrg11111111/testrepo1/pull/' ~ instance.pr_id }}"
                   target="_blank" title="{{ 'View this PR on GitHub'|_ }}">
                    <span class="octicon octicon-mark-github"></span>
                    # {{ instance.pr_id }}
                </a>
            </td>
            <td>
                <a href="https://github.com/{{ 'TestOrg11111111/testrepo1/tree/' ~ instance.target_branch }}"
                   target="_blank" title="{{ 'View this branch on GitHub'|_ }}">
                    <span class="octicon octicon-git-branch"></span>
                    {{ instance.target_branch }}
                </a>
            </td>
            <td>
                <div id="counter">

                </div>
            </td>
        </tr>
    </table>


{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script type="text/javascript">
        function get_countdown() {
            var elementExists = document.getElementById("counter");

            if (elementExists){

                // Get todays date and time
                var now = new Date();

                now.setHours(now.getHours()-1);

                now = now.getTime();

                // Find the distance between now an the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="counter"
                document.getElementById("counter").innerHTML =
                    '<div><p>' + hours + ' hours, ' + minutes + ' minutes, ' +
                    seconds + ' seconds</p></div>';

                // If the count down is finished the instance has expired
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("counter").innerHTML = "Expired";
                    //window.location.href = "{{ uri.base.path }}instance/{{ instance.instance_id }}/delete";
                }
            }
        }

        // Set the date we're counting down to (1 hour after instance request time)
        var countDownDate = (new Date('{{ instance.requested_at }}'));
        countDownDate.setHours(countDownDate.getHours() + 1);
        countDownDate = countDownDate.getTime();

        get_countdown();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get current time
            get_countdown();

        }, 1000);

    </script>

{% endblock %}
